section{
    background-color: #F8F9FA
}

section{
  /* margin-top: 20px; */
  padding-top: 100px;
  padding-bottom: 0px;
  /* background-color: var(--backgound-color); */
}

.container{
  padding-left: 60px;
  /* width: 75%; */
}

  