/* Reset CSS */
html, body{
    box-sizing: border-box;
}

/* Global CSS */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

:root{
    --while-color: #fff;
    --black-color: #000;
    --backgound-color: #F5F5F5;
    --primary-color: #CD020B;
    --secondary-color: #6c757d;
    --grey-color: #D9D9D9;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --text-color: #333;
    --text-muted-color: #6c757d;

    --header-height: 100px;

    --font-16:16px;

    --border-radius: 10px;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}


.btn{
    display: inline-block;
    font-weight: 400;  
    font-size: 14px;
}

.flexbox-row{
    display: flex;
    flex-direction: row;
}

.flexbox-col{
    display: flex;
    flex-direction: column;
}

.pb-12{
    padding-bottom: 12px;
}

hr{
    margin: 0;
}

